[Unit]
Description=Gitbrowse Updater
[Service]
User=root
Type=simple
ExecStart=/home/acutewoof/entr-runner.sh
Restart=on-failure
[Install]
WantedBy=network-online.target
